body {
    background-color: #ebe7e0;
    font: 13pt Arial;
}

main {
    background-color: white;
    width: 800px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(151, 24, 255, 0.529);
}

h1 {
    color: rgb(129, 74, 167);
}

.titulo-2{
    color: rgb(255, 253, 248);
}

h2 {
    color: rgb(184, 11, 170);
}

aside {
    display: block; 
    font-size: 10pt;
    text-align: justify;
    background-color: #b593ec;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

aside img {
    width: 60px; 
    display: block; 
    float: left;
    margin-right: 10px;
}

a, a:visited {
    color: rgb(88, 15, 90);
    font-weight: bolder;
}

a:hover {
    color: rgb(106, 11, 184);
    text-decoration: none;
}